OPEN_ROUTER_API="your_api_key_here"
EMBEDDING_MODEL="mohamed2811/Muffakir_Embedding_V2"
LLM_MODEL="openai/gpt-oss-20b:free"
CHROMA_DB_PATH="./data/chroma_db"
CHECKPOINT_DB_PATH="./data/checkpoints.db"
SIMILARITY_THRESHOLD=0.80
TOP_K=5
HF_TOKEN="your_token_here"